.add-to-links
    li:not(.link-wishlist)
        display: none

    .ico
        margin-right: 5px
        width: 14px
        height: 14px

    a
        display: flex
        justify-content: flex-start
        align-items: center
        text-decoration: underline
        font-weight: medium
        font-size: 14px