.related, .upsell
    &__title
        padding: 0 0 40px
        text-align: center
        text-transform: lowercase
        font-weight: semibold
        font-size: 0

        &:before
            font-size: 26px

.upsell
    &__title
        &:before
            content: 'quem comprou, comprou também'

.related
    &__title
        &:before
            content: 'produto vistos'