.header
    position: static
    margin: 0 auto
    padding: 20px 0

    &-container
        position: sticky
        top: 0

    @media (min-width: 993px)
        transition: all .2s ease

        .scrolling &
            padding: 10px 0
