.header
    position: static
    margin: 0 auto
    padding: 20px 0

    &-container
        position: fixed
        top: 0
        left: 0
        width: 100%

    @media (min-width: 993px)
        transition: all .2s ease

        .scrolling &
            padding: 10px 0

            &-container
                border-bottom: dashed 1px var(--secundary)
                border-image-source: url(border-dashed)
                border-image-slice: 1
                border-image-repeat: round