.instagram
    &__container
        margin: 0 auto
        max-width: calc(100% - 32px)
        width: viewport

    &__header
        margin-bottom: 20px
        text-align: center

        .ico
            width: 27px
            height: 27px

    &__title
        font-weight: semibold
        font-size: 26px

    &__list
        display: flex

        a
            display: block
            flex: 1 1 290px
            min-width: 0

        img
            width: 100%
            object-fit: cover