.logo
    .header &
        img, svg
            max-width: 100%
            height: auto

    @media (max-width: 992px)
        .header &
            flex: 1
            justify-content: flex-start
            margin-right: 15px
            min-width: 0

    @media (min-width: 993px)
        .header &
            .scrolling &
                max-width: 100px