.myaccount
    &__header
        display: flex
        align-items: center

        &, a
            font-weight: semibold
            font-size: 10px

        a
            margin: 0 3px

        .ico
            width: 21px
            height: 20px

    &__content
        display: none !important

    @media (max-width: 992px)
        .header &
            margin-left: 0

        &__header
            display: flex
            justify-content: center
            align-items: center
            width: 42px
            height: 42px

            .ico
                width: 20px
                height: 20px

            > span
                display: none

    @media (min-width: 993px)
        &__header
            .ico
                margin-right: 5px