.myaccount
    &__header
        display: flex
        align-items: center

        &, a
            font-weight: semibold
            font-size: 10px

        a
            margin: 0 3px

        .ico
            width: 21px
            height: 20px

    &__content
        display: none !important

    @media (max-width: 992px)
        &__header
            > span
                display: none

    @media (min-width: 993px)
        &__header
            .ico
                margin-right: 5px