.mycart
    &__header
        a
            display: flex
            justify-content: center
            align-items: center
            height: 50px
            font-weight: semibold
            font-size: 10px

        .ico
            margin-top: -2px
            width: 17px
            height: 19px

        .qtd
            margin: 0 3px

    &__content
        display: none !important