.price-box
    .old-price
        display: none

    .regular-price, .special-price
        .label
            display: none

        .price span
            font-weight: bold
            font-size: 14px