.quick
    &view-outerbox
        .quickview-brand
            display: none

        .clearfix
            margin-bottom: 10px

    &-view
        &-img
            .owl-pagination
                display: none

            .thumb-images
                margin-top: 10px

            .product-image-container
                display: block