.product-rate
    .rating-box
        height: 12px

        &:before, .rating:before
            font-size: 12px

        &:before
            color: #f8d6de

        .rating:before
            color: var(--secundary)

    .prod__shop &
        align-items: center

        &, .to-rate
            color: var(--primary)
            font-weight: medium
            font-size: 12px

        .to-rate
            text-decoration: underline