@media (min-width: 993px)
    .tabs
        &__tab, &__tab.on
            height: 40px
            border: 0
            border-right: solid 2px var(--gray)
            text-transform: lowercase
            font-weight: medium
            font-size: 26px
            line-height: 40px

        &__content
            padding-right: 0
            padding-left: 0
            border: 0

            .std
                color: var(--primary)
                font-weight: medium
                font-size: 18px