.col-main > .toolbar
    margin-bottom: 0 !important
    padding: 20px 0 0

    .amount
        flex: 0 0 auto
        order: 1

        &, span
            font-weight: regular
            font-size: 14px

    .sort-by
        order: 3

    .limiter
        display: flex
        flex: 1
        order: 2
        justify-content: center
        min-width: 0

        &:before
            margin-right: 10px
            content: 'Resultados por página: '
            font-weight: medium
            font-size: 14px

        label
            display: none

        select
            max-width: 100%
            width: 100px

    .sorter
        &:before
            display: none

        label
            margin-right: 10px
            color: var(--primary)
            content: 'Resultados por página: '
            font-weight: medium
            font-size: 14px
            opacity: 1

    select
        padding: 0 15px
        padding-right: 40px
        width: 100%
        height: 40px
        border: solid 1px var(--secundary)
        border-radius: 0
        background: url(down) no-repeat
        background-position: center right 10px
        box-shadow: none
        color: var(--black)
        text-transform: none
        font-size: 11px
        appearance: none

    @media (max-width: 992px)
        display: block

        .amount
            text-align: center

        .sorter
            justify-content: center
            padding-bottom: 16px

    @media (min-width: 993px)
        display: flex
        align-items: center !important

        .view-mode
            order: -1
            margin-right: 15px
            padding: 10px 15px 10px 0
            border-right: solid 1px var(--secundary)

            .grid, .list
                height: 20px

                .ico
                    width: 20px
                    height: 20px
                    fill: var(--secundary)

            a
                opacity: .5

        .sorter
            display: contents

.toolbar-bottom
    .toolbar
        position: relative
        padding-top: 20px

        .amount
            display: none

        .pager
            width: 100%

            .previous, .next
                &:before
                    display: none

                .ico
                    width: 11px
                    height: 21px

            ol
                justify-content: center

                li
                    padding: 5px

            a, .current > span
                display: flex
                justify-content: center
                align-items: center
                min-width: 0
                width: 20px
                height: 40px
                border-radius: 50%
                background: #fff
                color: var(--secundary)
                font-size: 18px
                line-height: 1

                &:hover
                    background: color2_bg

                span
                    display: inline
                    line-height: 1

                &.next, &.previous
                    background: none

                    span
                        display: none

            .current > span
                font-weight: semibold

                span
                    background: none
                    color: var(--primary)