.prod
    &__name
        h1
            font-weight: medium
            font-size: 24px
            line-height: 1.2

        .sku
            color: var(--gray-dark)
            text-transform: uppercase
            font-weight: regular
            font-size: 12px

    &__shop
        @media (max-width: 992px)
            text-align: center

        .qty-wrapper
            display: none !important

        .add-to-cart-btn
            display: flex
            justify-content: center
            align-items: center
            padding: 0
            max-width: 100%
            width: 300px
            height: 50px
            border-radius: 0
            background: var(--primary)
            color: var(--primary-contrast)
            text-transform: lowercase
            font-weight: bold
            font-size: 20px
            line-height: 1

    @media (min-width: 993px)
        &__img
            flex: 0 0 630px